<app-header></app-header>
<div>
  <iframe
    width="2000px"
    height="1080px"
    src="https://form.jotform.com/samadhidew/club-membership-registration-form"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    style="border: none; max-width: 100%; max-height: 100vh"
    allowfullscreen
    webkitallowfullscreen
    mozallowfullscreen
    msallowfullscreen
  >
  </iframe>
  <div class="text-center">
    <a  (click)="makePayment()" class="action">Submit</a>
  </div>
</div>
<app-footer></app-footer>
